<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta http-equiv="X-UA-Conpatible" content="IE=edge"/>
        <link rel="stylesheet" href="static/css/estilo2.css">
        <title>login</title>
    </head>
    <body style="background-color:rgb(236,239,241)">
   
        <div id="contenedor">

            <div id="izquierda">
                <h1>div Izquierda</h1>
                <p>Este es un texto de ejemplo Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, doloremque. Molestiae voluptates quo accusamus nulla architecto sint quidem, voluptas vero eveniet explicabo repudiandae nam tenetur, id odio odit, earum numquam!</p>
            </div>

            <div id="derecha">
                <h1>div Derecho</h1>
                <p>Este es un texto de ejemplo Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nisi, beatae natus! In nulla suscipit earum quisquam dolore alias assumenda quae temporibus enim, itaque, deserunt eius tempora, corporis ex repellendus iusto.</p>
            </div>

        </div>
     
    <body> 	
</html>
